@keyframes ldio-d3k1hgwy2fs {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-d3k1hgwy2fs div {
  position: absolute;
  animation: ldio-d3k1hgwy2fs 1s linear infinite;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  border-radius: 50%;
  box-shadow: 0 6.596px 0 0 #fb4226;
}
.loadingio-spinner-eclipse-fri095hqo15 {
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-d3k1hgwy2fs {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: relative;
}
.ldio-d3k1hgwy2fs div {
  box-sizing: content-box;
}
